@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
  
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 20px);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top, 0px);
  }
}

body {
  background-color: #E5E7EB;
  overscroll-behavior-y: none;
}